/* Reset CSS */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:root {
  --background-color: #000000;
  --foreground-color: #679ecb;
  --large-text: #757575;
  --large-bold-text: #757575;
  --normal-text: #969696;
}

body {
  font-size: 18px;
}

/* intro-page */

.intro-page {
  max-width: 100vw;
  min-height: 100vh;
  background: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-page main {
  max-width: 90vw;
  background-color: var(--background-color);
}

.intro-page section {
  box-shadow: 10px 0px 20px 10px rgb(255, 255, 255, 0.1);
  display: grid;
  grid-template:
    [row1-start] "portrait h2" 1fr[row1-end]
    [row2-start] "portrait p" 2fr[row2-end]
    [row3-start] "portrait svg" 1fr[row3-end]
    / 33vw 1fr;
  column-gap: 5vw;
  padding: 50px 50px 50px 0;
}

.intro-page .portrait {
  position: relative;
  grid-area: portrait;
  max-width: 100%;
  display: flex;
  align-items: center;
}

.intro-page .portrait img {
  max-width: 50%;
  object-fit: cover;
  transform-origin: right center;
  transform: scale(2) translate(50%);
}

.intro-page section .myName {
  position: absolute;
  color: var(--large-bold-text);
  font-size: 3.5em;
}

.intro-page h2 {
  color: var(--large-bold-text);
  font-size: 2.89em;
  grid-area: h2;
}

.intro-page p {
  margin: 20px 0;
  grid-area: p;
  color: var(--normal-text);
  font-size: 1.17em;
}

.intro-page .svg {
  grid-area: svg;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2vw;
}

@media (min-width: 1800px) {
  .intro-page section .myName {
    font-size: 5.5em;
  }
}

@media (min-width: 500px) and (max-width: 1000px) {
  .intro-page .svg {
    display: none;
  }

  .intro-page .portrait img {
    max-width: 70%;
    transform-origin: 60% bottom;
    transform: scale(1.7);
  }

  .intro-page section {
    display: block;
    max-width: 70vw;
    box-shadow: 0px 0px 20px 10px rgb(255, 255, 255, 0.1);
    padding-left: 50px;
  }

  .intro-page .portrait {
    max-width: 50%;
    float: left;
  }

  .intro-page h2 {
    text-align: center;
  }

  .intro-page .details {
    line-height: 130%;
  }

  .intro-page section .myName {
    top: -70% !important;
    right: -75%;
    font-size: 4em;
  }
}

@media (max-width: 500px) {
  .intro-page {
    display: block;
  }

  .intro-page main {
    max-width: none;
  }

  .intro-page section {
    padding: 0;
    display: block;
    box-shadow: none;
    padding-top: 30px;
    padding-bottom: 75px;
    margin: auto;
    max-width: 100%;
  }

  .intro-page .portrait {
    max-width: 80%;
    margin: auto;
  }

  .intro-page .portrait > img {
    max-width: 100%;
    transform: none;
  }

  .intro-page .portrait > .myName {
    bottom: 0%;
    left: 10%;
    font-size: 3em;
  }

  .intro-page section h2 {
    text-align: center;
    margin-top: 20px;
  }

  .intro-page .details {
    padding: 0 20px 0;
  }

  .intro-page .svg {
    justify-content: center;
    gap: 50px;
  }

  .intro-page .svg svg {
    width: 40px;
  }
}
/* second-page */

.second-page {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
}

.second-page main {
  min-width: 90vw;
  display: grid;
  grid-template:
    [row1-start] "header" 10vh[row1-end]
    [row2-start] "section" 1fr[row2-end]
    / 1fr;
}

.second-page header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--large-bold-text);
  font-size: 2.89em;
}

.second-page section {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

/* .second-page .project */

.second-page .project {
  box-shadow: 0px 0px 20px 5px rgb(255, 255, 255, 0.2);
}

.second-page .project {
  display: grid;
  grid-template:
    [row1-start] "image" 25vh[row1-end]
    [row2-start] "information" 1fr[row2-end]
    / 1fr;
}

.second-page .project > .image {
  background-color: rgb(236, 116, 116, 0.1);
  grid-area: image;
}

.project > .information {
  grid-area: information;
  display: grid;
  grid-template:
    [row1-start] "heading" 1fr[row1-end]
    [row2-start] "description" 2fr[row2-end];
  padding: 10px 20px;
}

.project .information > .heading {
  grid-area: heading;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project .information > .description {
  grid-area: description;
  color: var(--normal-text);
  font-size: 1em;
}

.project .heading > .name {
  color: var(--large-bold-text);
  font-size: 1.31em;
  font-weight: bold;
}

.project .heading > .svg {
  display: flex;
  gap: 10px;
}

@media (min-width: 500px) and (max-width: 1000px) {
  .second-page section {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  .second-page main {
    padding: 0px 50px 50px 50px;
  }
}

@media (max-width: 500px) {
  .second-page main header {
    justify-content: center;
    padding-bottom: 20px;
  }

  .second-page main section {
    padding: 0 20px;
    display: block;
  }

  .second-page main section > .project {
    margin-bottom: 50px;
  }
}

/* third-page */

.third-page {
  max-width: 100vw;
  min-height: 100vh;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.third-page main {
  max-width: 70vw;
  display: grid;
  grid-template:
    [row1-start] "section aside" [row1-end]
    / 1fr 35vw;
}

.third-page section {
  grid-area: section;
  display: grid;
  grid-template:
    [row1-start] "h2" 1fr[row1-end]
    [row2-start] "information" 2fr[row2-end]
    [row3-start] "svg" 1.5fr[row3-end]
    / 1fr;
}

.third-page h2 {
  grid-area: h2;
  color: var(--large-bold-text);
  font-size: 3.25em;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.third-page .information {
  grid-area: information;
  display: grid;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: var(--normal-text);
  font-size: 1.25em;
}

.third-page .description {
  padding-right: 100px;
}

.third-page .address {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.third-page .contactInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.third-page .phoneNo,
.third-page .email {
  display: flex;
  gap: 10px;
  align-items: center;
}

.third-page aside img {
  grid-area: aside;
  max-width: 100%;
  height: auto;
  border-radius: 50px;
}

.third-page .svg {
  padding-top: 50px;
  display: flex;
  gap: 30px;
}

@media (min-width: 500px) and (max-width: 1000px) {
  .third-page aside img {
    min-height: 100%;
    object-fit: cover;
  }

  .third-page main {
    gap: 20px;
    grid-template-columns: 1fr 1fr;
  }

  #emailLengthOnMobile {
    font-size: 0.8em;
  }
}

@media (max-width: 500px) {
  #emailLengthOnMobile {
    font-size: 0.8em;
  }

  .third-page main {
    display: block;
    max-width: 100vw;
  }

  .third-page section {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-bottom: 50px;
    max-width: 90vw;
    margin: auto;
  }

  .third-page section > h2 {
    justify-content: center;
  }

  .third-page section .svg {
    padding: 0px;
    justify-content: center;
  }

  .third-page svg {
    width: 40px;
  }

  .third-page .information {
    gap: 20px;
  }

  .third-page aside img {
    border-radius: 0;
  }
}
